body{
    background-color: rgb(255, 249, 249);
}


h1{
    padding: 9px;
    margin: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.178);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 10px;
    padding: 10px;
}

p {
    font-family:Times New Roman, serif;
    font-size: 17px;
    text-align: justify;
    padding: 9px;
    margin: 9px;

}